/* ==========================================================================
   Base
   ========================================================================== */

/* Box model
   ========================================================================== */
* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}


/* Html & body
   ========================================================================== */
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
}

body {
    position: relative;

    width: 100%;

    overflow: hidden;

    background: $white;
}

.overflow {
    overflow: hidden !important;
}

.main-content {
    background: $white;

    padding: 0;

    @media (min-width: $screen-md) {
        padding: 0;
    }
}

.homepage {
    .main-content {
        @media (min-width: $screen-sm) {
            position: relative;
            z-index: 1;

            margin-top: 50vh;
        }

        @media (min-width: $screen-md) {
            padding: 0;
            margin-top: 100vh;
        }
    }
}


/* Figures
   ========================================================================== */

figure {
    margin: 0;
}

.container {
    width: 100% !important;
    max-width: 120rem !important;
}
