/* ==========================================================================
   services
   ========================================================================== */

.services {
    & + .services {
        margin-top: 3rem;

        @media(min-width: $screen-sm) {
            margin-top: 5rem;
        }
    }
}

.services__title {
    margin-top: 0;

    text-align: left;
}

.services__description {
    p {
        margin: 0;

        & + p {
            margin-top: 2rem;
        }
    }
}

.services__visual {
    display: block;
    width: 100%;
    max-width: 10rem;
    height: auto;

    @media(min-width: $screen-sm) {
        margin: 0 auto;
        max-width: 20rem;
    }
}
