/* ==========================================================================
   Main Footer
   ========================================================================== */

.main-footer {
    position: relative;
    z-index: 1;

    padding: 2rem;

    // @include gradient--diagonal(rgba($theme-primary, 1), rgba($theme-secondary, 1));
    background: $white;


    p {
        margin: 0;

        font-size: 1.3rem;
        line-height: 1;
        color: $theme-primary;
    }

}

.main-footer__link {
    display: inline-block;
    height: 3rem;
    margin-right: 2rem;

    vertical-align: middle;
}
