/* ==========================================================================
   Base
   ========================================================================== */


/* Box model
   ========================================================================== */
* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}


/* Html & body
   ========================================================================== */
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
}

body {
    position: relative;

    width: 100%;

    overflow: hidden;

    background: $theme-primary-back;
}

.overflow {
    overflow: hidden !important;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .main-header,
    .page,
    .main-footer {
        width: 100%;
    }

    .main-header,
    .main-footer {
        flex: 0 0 auto;
    }

    .page {
        flex: 1 1 auto;
    }

    .main-header {

    }

    .main-footer {
        align-self: flex-end;
    }
}



/* Figures
   ========================================================================== */

figure {
    margin: 0;
}

.container {
    width: 100% !important;
    max-width: 1200px !important;
}
