.main-header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;

    .main-nav {
        align-self: center;
    }
}

.main-header__link {
    display: block;

    line-height: 0;
}

.site-logo {
    width: 60px;

    #logo {
        fill: $theme-primary-front;
    }
}