/* ==========================================================================
   Flex-grid
   ========================================================================== */

.flex-grid {
    @media(min-width: $screen-sm) {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
    }
}

//.flex-grid--3 {
//    .flex-item {
//        width: calc(100%/3);
//    }
//}

.flex-item {
    display: block;

    @media(min-width: $screen-sm) {
        flex: 1 1 auto;
    }
}

.flex-item--work {
    width: 100%;

    @media(min-width: $screen-sm) {
        width: calc(100%/3);
    }
}
