/* ==========================================================================
   Work detail
   ========================================================================== */

.work-detail__panels {
    @media(min-width: $screen-md) {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        align-content: stretch;
    }

    overflow: hidden;
}

.work-detail__panel {
    height: 100%;

    @media(min-width: $screen-md) {
        min-height: calc(100vh - 5.3rem);
        overflow: auto;
        flex: 1 1 auto;

        height: auto;
    }

    &--visual {
        position: relative;

        @include gradient--diagonal(rgba($theme-primary, .7), rgba($theme-secondary, .7));

        @media(min-width: $screen-md) {
            width: 50vw;
        }
    }

    &--info {
        padding: 3rem;

        background: $white;

        @media(min-width: $screen-md) {
            width: 50vw;
            padding: 8rem 7rem 7rem 7rem;
        }
    }
}

.work-detail__panel__title,
.work-detail__panel__sub-title {
    margin: 0 0 2rem 0;
}


.work-detail__panel__title {
    font-size: 5rem;
    word-break: break-all;
}

.work-detail__panel__sub-title {
    font-size: 1.8rem;
}

.work-detail__panel__intro {
    margin-bottom: 3rem;
}
