---
layout: homepage
title: FVKVN
subtitle: Front-end development &amp;&amp; graphic design.
redirect: http://www.fvkvn.be/contact/thanks.html
social:
    - name: twitter
      link: https://twitter.com/_fvkvn
    - name: facebook
      link: https://www.facebook.com/fvkvn/
    - name: codepen
      link: http://codepen.io/FVKVN/
    - name: github
      link: https://github.com/FVKVN
    - name: dribbble
      link: https://dribbble.com/FVKVN
    - name: 500px
      link: https://500px.com/fivekevin
    - name: flickr
      link: https://www.flickr.com/photos/kf-flicks/
---

<section class="page-section" id="section-about">
    <div class="container page-section__container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">About</h2>
                <p>
                    Hi I'm Kevin and I am a front-end developer and graphic designer based in the lovely city of Ghent in Belgium. By day I work as a web developer at <a href="https://kunstmaan.be/" target="_blank">Kunstmaan</a>, by night I'm <span class="strikethrough">Batman</span> available for freelance work. So if you have a project that you want to get started or just want to say hi, feel free to
                    <a href="#contact" class="js-anchor-link">contact me</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section background--grey">
    <div class="container page-section__container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-section__header">
                    Services
                </h2>
            </div>
        </div>
        <section class="services">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="services__title">Graphic / digital design</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/frontend/img/general/design.svg" alt="Graphic design" class="services__visual">
                </div>
                <div class="col-sm-9 col-sm-offset-1">
                    <div class="services__description">
                        <p>
                            Graphic design is the process of visual communication and problem-solving through the use of typography, space, image and color.
                        </p>
                        <p>
                            The field spans different media and common uses include: identity (logos and branding), publications (magazines, newspapers and books), print advertisements, posters, billboards, website graphics and elements, signs and product packaging. Digital design on the other hand is more focused on digital media, it's a broad term, much like graphic design, and it spans different sub fields like UX design, website design, etc.
                        </p>
                        <blockquote>

                        </blockquote>
                        <p>
                            I myself am a trained designer, I studied graphic and advertising design at Sint Lukas Brussels from which I graduated with a masters degree in 2011. My experience spans over different media from print to digital, so I'll be happy to take a look at your logo, website, birthcards, flyers, ... .
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="services">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="services__title">Front-end development</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/frontend/img/general/code.svg" alt="Development" class="services__visual">
                </div>
                <div class="col-sm-9 col-sm-offset-1">
                    <div class="services__description">
                        <p>
                            Front-end web development, or client-side webdevelopment is the producement of a codebase that enables users to see and interact with a specific website or application. It's a very fluid field: techniques, best practices, tools change almost daily. That said a typical website seen by the user usually consists out of three programming languages: HTML (which serves as structure), CSS (which covers styling) and javaScript (which enables the user to interact with certain elements).
                        </p>
                        <p>
                            My main aim is to deliver fast, responsive websites with the user's experience as main focal point. Besides this I have a strong interest in web animation and believe that small, on point interactions have a greater influence on the users overall perception of a website rather than one big eye-catcher. I believe that the best animations are subtle and hardly noticable, they also should work towards the goal of the website or app.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<section class="page-section background--theme-primary">
    <div class="container page-section__container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-section__header text--white">Skillset</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <article class="skill-box">
                    <h3 class="skill-box__title">HTML</h3>
                    <div class="progress-bar__wrapper">
                        <div class="progress-bar js-progress-bar" data-to="90" style="width: 0;"></div>
                    </div>
                </article>
                <article class="skill-box">
                    <h3 class="skill-box__title">CSS</h3>
                    <div class="progress-bar__wrapper">
                        <div class="progress-bar js-progress-bar" data-to="95" style="width: 0;"></div>
                    </div>
                </article>
                <article class="skill-box">
                    <h3 class="skill-box__title">javaScript</h3>
                    <div class="progress-bar__wrapper">
                        <div class="progress-bar js-progress-bar" data-to="65" style="width: 0;"></div>
                    </div>
                </article>

            </div>
            <div class="col-md-6">
                <article class="skill-box skill-box--alt">
                    <h3 class="skill-box__title">Photoshop</h3>
                    <div class="progress-bar__wrapper">
                        <div class="progress-bar js-progress-bar" data-to="80" style="width: 0;"></div>
                    </div>
                </article>
                <article class="skill-box skill-box--alt">
                    <h3 class="skill-box__title">Illustrator</h3>
                    <div class="progress-bar__wrapper">
                        <div class="progress-bar js-progress-bar" data-to="70" style="width: 0;"></div>
                    </div>
                </article>
                <article class="skill-box skill-box--alt">
                    <h3 class="skill-box__title">Sketch</h3>
                    <div class="progress-bar__wrapper">
                        <div class="progress-bar js-progress-bar" data-to="70" style="width: 0;"></div>
                    </div>
                </article>
                <article class="skill-box skill-box--alt">
                    <h3 class="skill-box__title">Indesign</h3>
                    <div class="progress-bar__wrapper">
                        <div class="progress-bar js-progress-bar" data-to="80" style="width: 0;"></div>
                    </div>
                </article>
                <article class="skill-box skill-box--alt">
                    <h3 class="skill-box__title">After effects</h3>
                    <div class="progress-bar__wrapper">
                        <div class="progress-bar js-progress-bar" data-to="50" style="width: 0;"></div>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text--white">Other:</h3>
                <p class="text--white">Agile development, Git, performance, web animation, BEM</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section" id="section-work">
    <div class="container page-section__container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Work</h1>
                <p>
                    It wouldn't actually be a portfolio site without some work now would it?
                </p>
            </div>
        </div>
    </div>
</section>

{% assign pages_list = site.pages %}
<div class="page-section page-section--fluid background--work">
    <div class="flex-grid">
        {% for node in pages_list %}
        {% if node.title != null %}
        {% if node.layout == "work-detail" %}
        <a href="{{ node.url }}" class="flex-item flex-item--work image-block__link js-filter-item js-ajax-link" data-filter-category="{{ node.categories }}">
            <figure class="image-block">
                <img src="../frontend/img/projects/{{ node.img_folder}}/{{ node.thumb_img}}" alt="" class="image-block__image">
                <figcaption class="image-block__caption">
                    <h4 class="image-block__title">{{ node.title }}</h4>
                    <p class="image-block__description">{{ node.description }}</p>
                </figcaption>
            </figure>
        </a>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>

<section class="page-section" id="section-contact">
    <div class="container page-section__container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Contact</h1>
                <p>
                    Feel free to drop a line using the form or contact me using the provided contact information.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="page-section  background--theme-primary">
    <div class="page-section__container container">
        <div class="row">
            <div class="col-md-7">
                <form action="https://getsimpleform.com/messages?form_api_token=081290cd3bd1acc9137f8ddf2897edf6" method="post">
                    <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                    <input type='hidden' name='redirect_to' value='{{ page.redirect }}' />
                    <!-- all your input fields here.... -->
                    <div class="form-group">
                        <label for="name" class="form-control__label text--white">Your name</label>
                        <input type='text' name='name' class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-control__label text--white">Your e-mail</label>
                        <input type='email' name='email' class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="Message" class="form-control__label text--white">Your message</label>
                        <textarea type='textarea' name='message' class="form-control form-control--textarea"></textarea>
                    </div>
                    <div class="form-group">
                        <input type='submit' value='Submit' class="btn btn--white"/>
                    </div>


                </form>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <h4 class="text--white">FVKVN</h4>
                <p class="text--white contact-info"><i class="icon--location contact-info__icon"></i> {{ site.author.address }}</p>
                <p class="text--white contact-info">
                    <a href="mailto:{{ site.author.mail }}" class="contact-mail"><i class="icon--mail contact-info__icon"></i> {{ site.author.mail }}</a>
                </p>
                <p class="text--white">Follow, like, share, ... you know the drill:</p>
                <p class="text--white social-media">
                    {% for media in page.social %}

                    <a href="{{ media.link }}" target="_blank" class="social-media__link">
                        <i class="icon--{{ media.name }} social-media__link__icon"></i>
                    </a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</section>
