/* ==========================================================================
   Paths

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */


/* General
   ========================================================================== */
$root: "/serve/resources/web";

/* Font folders
   ========================================================================== */
$iconfont-path:         "#{$root}/fonts/iconfont";
$webfont-path:          "#{$root}/fonts/webfonts";
