<!--[if lte IE 10]>
<div class="app-warning-holder">
    <div class="app-warningbox app-warningbox--browser background--theme-primary">
        <h2>Woa, your browser seems to be outdated.</h2>
        <p class="outdated__description">Some content may be lost or display incorrectly.</p>
        <p class="outdated__description">After careful consideration I've decided to support only the last two versions of all major browsers. Please keep the web a fun place to be, wether you are a user or a developer, and consider upgrading your browser.</p>

        <a href="http://browsehappy.com/?locale=nl" target="_blank" class="btn btn--secondary">Alright, sounds convincing enough.</a>
    </div>

    <noscript>
    <input type="radio" id="nojs-toggle" name="nojs-toggle" class="app-warning--js__radio">
    <div class="app-warningbox app-warningbox--javascript background--theme-secondary">
        <h2>Hmm, javascript seems to be disabled in your browser.</h2>
        <p>This website, though accessible without, uses javascript to enhance your browser experience. Please enable it in your browser's settings.</p>
        <label for="nojs-toggle" class="btn btn--primary">Ok ok, stop nagging already.</label>
    </div>
    </noscript>
</div>
<![endif]-->

<noscript>
    <!--[if lte IE 10]>
    <div class="app-warning-holder">
        <div class="app-warningbox app-warningbox--browser background--theme-primary">
            <h2>Woa, your browser seems to be outdated.</h2>
            <p class="outdated__description">Some content may be lost or display incorrectly.</p>
            <p class="outdated__description">After careful consideration I've decided to support only the last two versions of all major browsers. Please keep the web a fun place to be, wether you are a user or a developer, and consider upgrading your browser.</p>

            <a href="http://browsehappy.com/?locale=nl" target="_blank" class="btn btn--secondary">Alright, sounds convincing enough.</a>
        </div>
    <![endif]-->


        <input type="radio" id="nojs-toggle" name="nojs-toggle" class="app-warning--js__radio">
        <div class="app-warningbox app-warningbox--javascript background--theme-secondary">
            <h2>Hmm, javascript seems to be disabled in your browser.</h2>
            <p>This website, though accessible without, uses javascript to enhance your browser experience. Please enable it in your browser's settings.</p>
            <label for="nojs-toggle" class="btn btn--primary">Ok ok, stop nagging already.</label>
        </div>
    </div>
</noscript>


