/* ==========================================================================
   Links
   ========================================================================== */

a {
    display: inline-block;

    color: $theme-primary;
    text-decoration: none;

    &:after {
        content: '';

        display: block;
        height: .2rem;
        width: 0;

        background: $theme-primary;

        transition: width .3s ease-in-out;
    }

    &:hover,
    &:focus,
    &:active {
        color: $theme-primary;
        text-decoration: none;

        &:after {
            width: 100%;
        }
    }

    &.link--disabled {
        &:after {
            display: none;
        }

        &:hover {
            cursor: not-allowed;
        }
    }
}
