/* ==========================================================================
   Classes
   ========================================================================== */

//text helpers
.text--center {
    text-align: center;
}

.text--white {
    color: $white;
}

.strikethrough {
    text-decoration: line-through;
}

//gradients
