/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Colors
   ========================================================================== */

// generic

$black:                 #000000;
$white:                 #fff;

$grey--darkest:         #0c0c0c;
$grey--dark:            #383838;
$grey--darker:          #4a4a4a;
$grey:                  #777777;
$grey--lighter:         #BFBFBF;
$grey--light:           #EDEDED;
$grey--lightest:        #EEEEEE;

$pink:                  #e62169;
$teal:                  #219aab;
$purple--darker:        #302a4c;
$purple:                #2d2161;


$theme-primary-front:   $pink;
$theme-primary-back:    $purple--darker;
$theme-secondary-front: $teal;
$theme-secondary-back:  $purple;