/* ==========================================================================
   Scaffolding

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Breakpoints
----------------------------------------- */

$screen-xs:                  480px;
$screen-sm:                  768px;
$screen-md:                  992px;
$screen-lg:                  1200px;
$screen-xl:                  1440px;


/* Containers
----------------------------------------- */
$container:                  1115px;
$container-padding:          30px;