/* ==========================================================================
   Links
   ========================================================================== */

a {
    position: relative;

    display: inline-block;

    color: $theme-primary;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: $theme-primary;
        text-decoration: none;
    }

    &.link--disabled {
        &:after {
            display: none;
        }

        &:hover {
            cursor: not-allowed;
        }
    }
}

a:not([class*="btn"]) {
    &:after {
        content: '';

        display: block;
        height: .2rem;
        width: 0;

        background: $theme-primary;

        transition: width .3s ease-in-out;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}

.icon-link {
    position: relative;

    font-size: 1.6rem;

    .icon-link__icon {
        display: inline-block;

        font-size: 1.4rem;

        transition: transform .3s ease-in-out;
    }

    &--left {
        .icon-link__icon {
            margin-right: .5rem;
        }

        &:hover {
            .icon-link__icon {
                transform: translate3d(-.5rem, 0, 0);
            }
        }
    }

    &:after {
        content: none !important;
        display: none !important;
    }
}

.social-media__link,
.contact-mail {
    display: inline-block;

    transition: color .2s ease-in-out;

    & + .social-media__link {
        margin-left: 1rem;
    }

    &:hover {
        color: $theme-secondary;
    }
}

.contact-mail {
    transition: color .2s ease-in-out;

    .contact-info__icon {
        font-size: 1.9rem;
    }
}
