/* ==========================================================================
   Forms - choices
   ========================================================================== */

/* General
   ========================================================================== */
input[type="checkbox"], input[type="radio"] {
    float: left;

    width: 2rem;
    height: 2rem;

    opacity: 0;

    cursor: pointer;

    + label {
        position: relative;

        padding-left: 3rem;
        margin: 0 0 .5rem 0;
        display: block;

        font-size: 1.5rem;
        color: $text-color;

        cursor: pointer;

        &::selection {
            background: none;
            color: $theme-primary;
        }
    }

    &:focus + label {
        color: $theme-primary;
    }

    &:disabled + label {
        cursor: not-allowed;
        pointer-events: none;
    }
}

input[type="radio"] {
    & + label {
        &:before {
            content: ' ';

            position: absolute;
            top: 50%;
            left: .4rem;
            z-index: 10;

            display: block;
            width: 1.2rem;
            height: 1.2rem;
            margin-top: -.6rem;

            background: $theme-primary;

            border-radius: 50%;

            transition: transform .2s ease-in-out;
            transform: scale(0);
        }

        &:after {
            content: ' ';

            position: absolute;
            top: 50%;
            left: 0;
            z-index: 0;

            width: 2rem;
            height: 2rem;
            margin-top: -1rem;

            background: $white;

            border-radius: 50%;
            border: .1rem solid $grey;
        }
    }

    &:checked + label:before {
        transform: scale(1);
    }

}

input[type="checkbox"] {
    & + label {
        &:before {
            //@extend .icon--check;

            position: absolute;
            top: 50%;
            left: .3rem;

            display: inline-block;
            margin: -.7rem 0 0 0;

            //font-family: 'icomoon';
            color: $theme-primary;
            font-size: 1rem;
            text-align: center;

            transition: transform .2s ease-in-out;
            transform: scale(0);

            z-index: 2;
        }

        &:after {
            content: ' ';

            position: absolute;
            top: 50%;
            left: 0;

            width: 2rem;
            height: 2rem;
            margin-top: -1rem;

            background: $white;

            border-radius: .4rem;
            border: .1rem solid $grey;

            z-index: 1;
        }
    }

    &:checked + label:before {
        transform: scale(1);
    }

}


 input[type="checkbox"].checkbox--button,
 input[type="radio"].checkbox--button {
    width: auto;
    height: auto;

    & + label {
        @extend .btn;
        @extend .btn--primary;

        margin: 1rem;

        border-color: $theme-primary;

        color: $theme-primary;

        background: none;


        &:before,
        &:after {
            display: none;
        }
    }

    &:checked + label {
        background: $theme-primary;

        color: $white;

        &:hover {
            border: .2rem solid $theme-primary !important;

            transform: none;
        }
    }

    &:disabled + label {
        background-color: $black;

        color: $white;
    }
}
