/* ==========================================================================
   Filters
   ========================================================================== */

.filters__wrapper {
    position: fixed;
    bottom: 0;
    z-index: 50;

    width: 100%;
    display: none;

    background: $theme-secondary;

    transform: translate3d(0, 100%, 0);

    transition: transform .3s ease-in-out;

    &:hover,
    &:focus {
        transform: translate3d(0, 0, 0);
    }

    @media (min-width: $screen-md) {
        display: block;
    }
}

.filters {
text-align: center;

}

.filter-item--hide {
    display: none;
}

.filters__wrapper__icon {
    position: absolute;
    top: -9rem;
    left: 50%;

    width: 9rem;
    height: 9rem;
    display: inline-block;
    padding: 2rem;

    transform: translate3d(-50%, 100%, 0);
    transition: transform .3s ease-in-out;

    text-align: center;

    &.inview {
        transform: translate3d(-50%, 0, 0);
    }

    &:after {
        content: '';

        position: absolute;
        top: 2rem;
        left: 2rem;

        display: block;
        height: 5rem;
        width: 5rem;

        border: .2rem solid $theme-primary;

        transform: rotate3d(0,0,1,45deg);
    }

    span {
        @include line-variable-width($theme-primary, .4rem, 2rem);

        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate3d(-50%, -50%, 0);


        &:before,
        &:after {
            content: '';

            position: absolute;
            left: 50%;

            transform: translate3d(-50%, 0, 0);

            transform-origin: 50% 50%;
            transition: top .2s .4s ease-in-out, transform .2s ease-in-out;
        }

        &:before {
            @include line-variable-width($theme-primary, .4rem, 1rem);

            top: .8rem;

            text-align: center;
        }

        &:after {
            @include line-variable-width($theme-primary, .4rem, 3rem);

            top: -.8rem;

            text-align: center;
        }
    }
}

.filters__title {
    display: block;
    width: 100%;
    margin-top: 0;

    text-align: center;
}
