/* ==========================================================================
   Slider
   ========================================================================== */

//@import '../../../../vendor_bower/slick-carousel/slick/slick.scss';
//@import '../../../../vendor_bower/slick-carousel/slick/slick-theme.scss';

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-arrow {
    //top: auto;
    //bottom: 2rem;
    z-index: z(heaven);
}

.slider__container {


    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    @media (min-width: $screen-md) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.slick-list {
    height: 100%;
}

.slick-track {
    height: 100% !important;
}

.slider__item {
    position: relative;

    height: 100%;
    overflow: hidden;
    display: inline-block;
}

.slider__item__img {
    width: 100%;

    @media (min-width: $screen-md) {
        position: absolute;
        top: 50%;
        left: 50%;

        min-width: 100%;
        min-height: 100%;
        height: auto;
        width: auto;

        transform: translate3d(-50%, -50%, 0);
    }
}

.btn--slider-direction {
    position: absolute;
    bottom: 2rem;

    display: block;
    width: 4rem;
    height: 4rem;
    padding: 0;

    border: .2rem solid $theme-primary;

    color: $theme-primary;

    background: transparent;

    &--next {
        right: 2rem;
    }

    &--prev {
        right: 6.4rem;
    }

    &:focus {
        outline: none;
    }
}

.btn--slider-direction__icon {
    font-size: 1.4rem;
}
