---
layout: page
title: Work
permalink: /work.html
state: active
---

{% contentfor bodyclass %}work no-hero{% endcontentfor %}
{% contentfor hero %}{% endcontentfor %}

<main class="main-content">

    <section class="page-section">
        <div class="container page-section__container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-title">{{ page.title }}</h1>
                    <p>
                        It wouldn't actually be a portfolio site without some work now would it?
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% assign pages_list = site.pages %}
    <div class="page-section page-section--fluid background--work">
        <div class="flex-grid">
            {% for node in pages_list %}
            {% if node.title != null %}
            {% if node.layout == "work-detail" %}
            <a href="{{ node.url }}" class="flex-item flex-item--work image-block__link js-filter-item js-ajax-link" data-filter-category="{{ node.categories }}">
                <figure class="image-block">
                    <img src="../frontend/img/projects/{{ node.img_folder}}/{{ node.thumb_img}}" alt="" class="image-block__image">
                    <figcaption class="image-block__caption">
                        <h4 class="image-block__title">{{ node.title }}</h4>
                        <p class="image-block__description">{{ node.description }}</p>
                    </figcaption>
                </figure>
            </a>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="page-section filters__wrapper">
        <i class="filters__wrapper__icon icon--filter">
            <span></span>
        </i>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section class="filters js-filters">
                        <h2 class="filters__title">Filters</h2>
                        <input type="checkbox" class="js-filter-all checkbox--button" id="all" value="all" checked><label for="all">All</label>
                        <input type="checkbox" class="js-filter checkbox--button" id="development" value="development"><label for="development">Development</label>
                        <input type="checkbox" class="js-filter checkbox--button" id="graphic-design" value="graphic-design"><label for="graphic-design">Graphic Design</label>
                        <input type="checkbox" class="js-filter checkbox--button" id="web-design" value="web-design"><label for="web-design">Web Design</label>
                        <input type="checkbox" class="js-filter checkbox--button" id="photography" value="photography"><label for="photography">Photography</label>
                        <input type="checkbox" class="js-filter checkbox--button" id="lab" value="lab"><label for="lab">Lab</label>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="ajax-section">

    </div>


</main>
