/* ==========================================================================
   Classes
   ========================================================================== */

//text helpers
.text--center {
    text-align: center !important;
}

.strikethrough {
    text-decoration: line-through;
}

//gradients


//dimensions
.margin--none {
    margin: 0 !important;
}

